<!DOCTYPE html>
<html>
<head>
	<title>Index 2</title>
	<script src="angular.min.js"></script>
</head>
<body>

	<div ng-app='myApp' ng-controller='myCtrl'>
		<input type="text" name="firstName" ng-model='firstName'/>
		<input type="text" name="lastName" ng-model='lastName'>

		<span ng-bind="fullName('Full name: ')"></span>

	</div>

	<script type="text/javascript">
		angular.module('myApp',[]).controller('myCtrl', function($scope) {
			$scope.firstName = 'Laptop';
			$scope.lastName = 'Hdcomputer';
			$scope.fullName = function(name) {
				return name + $scope.firstName + ' ' + $scope.lastName;
			}
		});
	</script>

</body>
</html>